<section class="hero-unit container">
  <div class="container-inner hero-unit__content">
    <h1 class="hero-unit__title text-center">{{t 'submit_a_request'}}</h1>
  </div>
</section>

<div class="container new-request-page">
  <div class="container-inner">
    <div class="row clearfix">
      <div class="column column--sm-8 column--sm-offset-2">
        {{#if parent}}
        <p>
          <span class="follow-up-hint">
            {{follow_up}}
          </span>
        </p>
        {{/if}}
       
        <!-- <div class="callout callout--info">
          <p>Please visit our <a href="https://discuss.circleci.com/t/community-support/1470">community forum</a> where you can ask questions and find solutions. 
            If you would like to submit a feature request, please do so on our <a href="https://circleci.com/ideas/">feature request ideas portal.</a>.</p>
        </div> 
				--!>
        <div class="new-request-form">
          {{request_form}}
        </div>
      </div>
    </div>
  </div>
</div>
